USE [AuctionDB]
GO
/****** Object:  Table [dbo].[AuthSession]    Script Date: 2025/9/16 下午 01:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AuthSession](
	[UserId] [varchar](100) NOT NULL,
	[ExpiresDtm] [datetimeoffset](7) NOT NULL,
	[Session] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_AuthSession] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaffleOrder]    Script Date: 2025/9/16 下午 01:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaffleOrder](
	[RaffleOrderNo] [char](7) NOT NULL,
	[BuyerName] [nvarchar](100) NOT NULL,
	[BuyerEmail] [varchar](100) NOT NULL,
	[BuyerPhone] [varchar](50) NOT NULL,
	[PurchaseCount] [int] NOT NULL,
	[PurchaseAmount] [decimal](18, 0) NOT NULL,
	[HasPaid] [char](1) NOT NULL,
	[SalesId] [varchar](50) NOT NULL,
	[SoldDtm] [datetime] NULL,
	[Status] [varchar](20) NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[IsChecked] [char](1) NULL,
	[Checker] [varchar](50) NULL,
	[CheckedDtm] [datetime] NULL,
 CONSTRAINT [PK_RaffleShell] PRIMARY KEY CLUSTERED 
(
	[RaffleOrderNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[RaffleTicket]    Script Date: 2025/9/16 下午 01:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[RaffleTicket](
	[RaffleTicketNo] [char](7) NOT NULL,
	[RaffleSoldNo] [char](7) NOT NULL,
	[BuyerName] [nvarchar](100) NOT NULL,
	[BuyerEmail] [varchar](100) NOT NULL,
	[BuyerPhone] [varchar](50) NOT NULL,
	[EmailTimes] [int] NOT NULL,
	[LastEmailDtm] [datetime] NULL,
 CONSTRAINT [PK_RaffleTicket] PRIMARY KEY CLUSTERED 
(
	[RaffleTicketNo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Staff]    Script Date: 2025/9/16 下午 01:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Staff](
	[UserId] [varchar](50) NOT NULL,
	[Mima] [varchar](50) NOT NULL,
	[Nickname] [nvarchar](100) NOT NULL,
	[Phone] [varchar](50) NOT NULL,
	[RoleList] [nvarchar](500) NOT NULL,
	[Remark] [nvarchar](500) NULL,
	[Enable] [char](1) NOT NULL,
 CONSTRAINT [PK_Staff] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SysParameter]    Script Date: 2025/9/16 下午 01:44:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SysParameter](
	[IdName]  AS (concat([Category],case when [Category]='' then '' else '_' end,[Name])) PERSISTED NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Value] [nvarchar](500) NOT NULL,
	[Category] [varchar](100) NOT NULL,
	[Remark] [nvarchar](100) NOT NULL,
 CONSTRAINT [PK_SysParameter] PRIMARY KEY CLUSTERED 
(
	[IdName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[RaffleTicket] ADD  CONSTRAINT [DF_RaffleTicket_EmailTimes]  DEFAULT ((0)) FOR [EmailTimes]
GO
ALTER TABLE [dbo].[Staff] ADD  CONSTRAINT [DF_Staff_Remark]  DEFAULT ('') FOR [Remark]
GO
ALTER TABLE [dbo].[SysParameter] ADD  CONSTRAINT [DF_SysParameter_remark]  DEFAULT ('') FOR [Remark]
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者識別名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AuthSession', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'授權有效時限' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AuthSession', @level2type=N'COLUMN',@level2name=N'ExpiresDtm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'授權內容' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AuthSession', @level2type=N'COLUMN',@level2name=N'Session'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'使用者登入授權 session' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'AuthSession'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'銷售編號:格式 RSnnnnn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'RaffleOrderNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買家名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'BuyerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買家電郵地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'BuyerEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買家聯絡電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'BuyerPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'購買張數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'PurchaseCount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'購買金額' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'PurchaseAmount'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'已付款:Y/N' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'HasPaid'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'銷售業務ID' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'SalesId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'賣出時間:系統產生' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'SoldDtm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'銷售狀態: ForSale | HasSold | Invalid' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'Status'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'已查驗: Y/N' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'IsChecked'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'查驗人員: 可能是經理或敗務' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'Checker'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'查驗時間: 系統時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder', @level2type=N'COLUMN',@level2name=N'CheckedDtm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'抽獎券銷售交易檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleOrder'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'抽獎券編號: 格式 RTnnnnn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'RaffleTicketNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'銷售編號:格式 RSnnnnn' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'RaffleSoldNo'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買家名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'BuyerName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買家電郵地址' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'BuyerEmail'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'買家聯絡電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'BuyerPhone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'寄出電郵次數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'EmailTimes'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'最後寄出時間: 系統時間' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket', @level2type=N'COLUMN',@level2name=N'LastEmailDtm'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'抽獎券檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'RaffleTicket'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'識別帳號' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'UserId'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'密碼' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'Mima'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'顯示名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'Nickname'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'通訊電話' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'Phone'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'角色: JSON String Array' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'RoleList'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'備註' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'啟用: Y/N' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff', @level2type=N'COLUMN',@level2name=N'Enable'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'工作人員檔' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'Staff'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'參數識別名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysParameter', @level2type=N'COLUMN',@level2name=N'IdName'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'參數名稱' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysParameter', @level2type=N'COLUMN',@level2name=N'Name'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'參數值' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysParameter', @level2type=N'COLUMN',@level2name=N'Value'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'參數類別:系統參數分群/分類別。未分群填空白' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysParameter', @level2type=N'COLUMN',@level2name=N'Category'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'備註' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysParameter', @level2type=N'COLUMN',@level2name=N'Remark'
GO
EXEC sys.sp_addextendedproperty @name=N'MS_Description', @value=N'系統參數' , @level0type=N'SCHEMA',@level0name=N'dbo', @level1type=N'TABLE',@level1name=N'SysParameter'
GO
