<!-- TICKET_BLOCK_START -->
<div class="ticket-card" style="display: none;">
  <div class="ticket-card-content">
    <h3>拍賣活動抽獎券</h3>
    <div class="ticket-no">NO. {{TICKET_NO}}</div>
    <div class="ticket-holder-info">
      票券擁有人<br>
      🧑 {{TICKET_HOLDER_NAME}}<br>
      📧 {{TICKET_HOLDER_EMAIL}}<br>
      📞 {{TICKET_HOLDER_PHONE}}
    </div>
  </div>
  <div class="ticket-card-image" style="outline: solid red">
    <img src="{{TICKET_IMAGE_URL}}" alt="Raffle Image">
  </div>
</div>
<!-- TICKET_BLOCK_END -->
<!-- {{TICKET_BLOCK_SLOT}} -->
