<!-- Ticket Block -->
<div class="ticket-card">
  <div class="ticket-left">
    <div class="ticket-title">拍賣活動抽獎券</div>
    <div class="ticket-number">NO. {{TICKET_NO}}</div>
    <div class="ticket-holder-title">票券擁有人</div>
    <div class="holder-info">
      <div>😀 {{TICKET_HOLDER_NAME}}</div>
      <div>📧 {{TICKET_HOLDER_EMAIL}}</div>
      <div>📞 {{TICKET_HOLDER_PHONE}}</div>
    </div>
  </div>
  <div class="ticket-right">
    <div class="ticket-image">
      <img src="{{TICKET_IMAGE_URL}}" alt="活動圖片">
    </div>
  </div>
</div>
<!-- {{RAFFLE_TICKETS_BLOCK}} -->
